<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Hub</title>
</head>

<body style="background-color: rgb(247, 241, 234);">
    <div class="container">
        <!-- navbar #start -->
        <nav class="navbar" style="background-color: rgb(247, 241, 234);" role="navigation"
            aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="../index.html">
                    <img src="../assets/logo.jpg" width="112" height="30">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    :class="{ 'is-active': navBarIsActive }" @click="navBarIsActive = !navBarIsActive">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div :class="{ 'is-active': navBarIsActive }" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="hub.html">
                        Hub
                        <span class="icon has-icons-right">
                            <i class="fa fa-home is-right"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="workout.html">
                        Workout
                        <span class="icon has-icons-right">
                            <i class="fa fa-heartbeat is-right"></i>
                        </span>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Profile
                            <span class="icon has-icons-right">
                                <i class="fa fa-id-badge is-right"></i>
                            </span>
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="stats.html">
                                Stats
                                <span class="icon has-icons-right">
                                    <i class="fa fa-chart-line is-right"></i>
                                </span>
                            </a>
                            <a class="navbar-item" href="exercises.html">
                                Exercises
                                <span class="icon has-icons-right">
                                    <i class="fa fa-running is-right"></i>
                                </span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="settings.html">
                                Settings
                                <span class="icon has-icons-right">
                                    <i class="fa fa-cogs is-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="signup.html">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="login.html">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navbar #end -->

        <!-- Page contents #start -->
        <div class="columns is-3" style="padding: 15px; column-gap: 15px;">
            <!-- Past activity Figure out how to fill a table with data -->
            <div class="column is-one-third has-background-primary">
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><abbr title="Date">Date</abbr></th>
                                <th>Type</th>
                                <th><abbr title="Time">Time</abbr></th>
                                <th><abbr title="Score">Score</abbr></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><abbr title="Date">Date</abbr></th>
                                <th>Type</th>
                                <th><abbr title="Time">Time</abbr></th>
                                <th><abbr title="Score">Score</abbr></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <th>{{ `${now}` }}</th>
                                <td>Swim</td>
                                <td>{{ `${now}` }}</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>{{ `${now}` }}</th>
                                <td>Lift</td>
                                <td>{{ `${now}` }}</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Suggested workouts -->
            <div class="column is-one-third has-background-light" style="padding: 25px;">
                <div class="card">
                    <div class="card-image">
                        <figure class="image ">
                            <img src="../assets/suggestedbg.jpg">
                        </figure>
                    </div>
                </div>
                <div class="card-content">
                    <article class="message is-primary" :class="{ 'is-hidden': !visible }">
                        <div class="message-header">
                            <p>Welcome!</p>
                            <button class="delete" aria-label="delete" @click="close()"></button>
                        </div>
                        <div class="message-body">
                            This is your user hub
                        </div>
                    </article>
                    <article class="message is-primary" :class="{ 'is-hidden': !visible }">
                        <div class="message-header">
                            <p>Update!</p>
                            <button class="delete" aria-label="delete" @click="close()"></button>
                        </div>
                        <div class="message-body">
                            workout updates will be here
                        </div>
                    </article>
                    <article class="message is-primary" :class="{ 'is-hidden': !visible }">
                        <div class="message-header">
                            <p>notifactions</p>
                            <button class="delete" aria-label="delete" @click="close()"></button>
                        </div>
                        <div class="message-body">
                            this whole thing is about workout notifactions
                        </div>
                    </article>
                    <button class="button is-fullwidth">
                        <a
                            href="https://www.imleagues.com/spa/account/ssoredirect?schoolId=8416cbb6b1164e498beaf753a4074df3">
                            Sign up to workout</a>
                    </button>
                </div>
            </div>



            <!-- User Profile card -->
            <div class="column is-one-third has-background-link">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time>{{ `${now}` }}</time </div>
                        </div>
                    </div>
                </div>


            </div>
            <script src="https://unpkg.com/vue@next"></script>
            <script>

                const VM = {
                    data() {
                        return {
                            now: new Date().toLocaleString(),
                            visible: true,
                        }
                    },
                    mounted() {
                        setInterval(() => this.now = new Date().toLocaleString(), 1000)
                    },
                    methods: {
                        close() {
                            this.visible = false;
                        }
                    }
                }
                Vue.createApp(VM).mount('.container')
            </script>
        </div>
        <!-- Page contents #end -->

        <!-- Footer #start -->
        <footer class="footer" style="background-color: rgb(247, 241, 234); padding: 25px;">
            <div class="content has-text-centered">
                <p>
                    <strong>Workout app</strong> by <a href="https://github.com/Chappellm18">Mitch Chappell</a>.
                </p>
            </div>
        </footer>
        <!-- Footer #end -->
</body>

</html>